.arrow-up,
.arrow-down {
    float: right;
}

.arrow-up .arrow-up-img,
.arrow-down .arrow-up-img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.rss-gorangozo-wrapper ul {
    padding: 0;
    list-style-type: none;
}